server:
  port: 8081
  error:
    include-message: always

cors:
  allowed-origins: "*"
  allowed-methods: "*"
  allowed-headers: "*"
  exposed-headers: "*"

spring:
  datasource:
    url: jdbc:postgresql://localhost:5333/quickcheck
    username: admin
    password: password
  mail:
    host: smtp.gmail.com
    port: 587
    username: quickcheckteam@gmail.com
    password: pcxx bjbt ugbs wwkw
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true

  main:
    web-application-type: servlet