server:
  port: 8088
  error:
    include-message: always

cors:
  allowed-origins: "*"
  allowed-methods: "*"
  allowed-headers: "*"
  exposed-headers: "*"

aws:
  region: us-west-1
  s3:
    buckets:
      user: quickcheck-user-test

management:
  endpoints:
    web:
      exposure:
        include: "health,info"

spring:
  datasource:
    url: jdbc:postgresql://localhost:5333/quickcheck
    username: quickcheck
    password: password

  mail:
    host: smtp.gmail.com
    port: 587
    username: quickcheckteam@gmail.com
    password: pcxx bjbt ugbs wwkw
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true

  main:
    web-application-type: servlet